
.vagrant/machines/centos7-2/virtualbox/vagrant_cwd
.vagrant/machines/centos7-2/virtualbox/action_set_name
.vagrant/machines/centos7-2/virtualbox/creator_uid
.vagrant/machines/centos7-2/virtualbox/id
.vagrant/machines/centos7-2/virtualbox/index_uuid
centos7-postinstall/playbook.retry
